/* Common Styles */

body {
    background-image: linear-gradient(to top left, #191A1D, #36383F);
    background-position: center 0;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    font-family: 'Teko', sans-serif;
    margin: 0px;
    width: 100%;
}